ns-allinone-3.22/ns-3.22/build/*
ns-allinone-3.22/ns-3.22/.waf-1.7.16-9ca17eb492c97b689870b4ff9db75880/waflib/
*/bindings/*
*/pybindgen/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
